:root {
  --accent: rgb(173, 255, 202);
  --background: rgb(14, 25, 25);
  // --background: rgb(40, 150, 150);

  --bars-color: rgba(173, 255, 202,.6);

  --accent-alpha-70: rgba(173, 255, 202,.7);
  --accent-alpha-20: rgba(173, 255, 202,.2);

  --color: rgb(249, 249, 249);
  --border-color: rgba(255, 255, 255, .6);
}
